.jumbotron {
  text-align: center;
  background-image: url("../img/robot.JPG");
  background-repeat: no-repeat;
  background-size: 100% 290%;
  color: #d65b22;
}

h1 {
  text-shadow: 1px 1px 2px white;
}

p {

}

body {
  background-color: #fffbf9;
  color: #d65b22;
}

.back {
  display: none;
  text-align: center;
}
.output {
  display: none;
}

.thinking {
  display: none;
  text-align: center;
}

button {
  background-color: #d65b22!important;
}

label {
  font-size: 18px;
}
