.jumbotron {
  text-align: center;
  background-image: url("../img/robot.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  color: #d65b22;
}

h1 {
  text-shadow: 1px 1px 2px white;
}

p {
  text-shadow: 1px 1px 2px black;
}

body {
  background-color: #fffbf9;
  color: #d65b22;
}

.result {
  display: none;
}
